@import url("./globalicons.css");

:root {
	/* Catppuccin latte theme. */
	--rosewater: #dc8a78;
	--flamingo: #dd7878;
	--pink: #ea76cb;
	--mauve: #8839ef;
	--red: #d20f39;
	--maroon: #e64553;
	--peach: #fe640b;
	--yellow: #df8e1d;
	--green: #40a02b;
	--teal: #179299;
	--sky: #04a5e5;
	--sapphire: #209fb5;
	--blue: #1e66f5;
	--lavender: #7287fd;
	--text: #4c4f69;
	--subtext1: #5c5f77;
	--subtext0: #6c6f85;
	--overlay2: #7c7f93;
	--overlay1: #8c8fa1;
	--overlay0: #9ca0b0;
	--surface2: #acb0be;
	--surface1: #bcc0cc;
	--surface0: #ccd0da;
	--base: #eff1f5;
	--mantle: #e6e9ef;
	--crust: #dce0e8;

	--max-width: 360px;
	--tomato-size: 360px;
	--tomato-green: #369f2d;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		/* Catppuccino mocha theme. */
		--rosewater: #f5e0dc;
		--flamingo: #f2cdcd;
		--pink: #f5c2e7;
		--mauve: #cba6f7;
		--red: #f38ba8;
		--maroon: #eba0ac;
		--peach: #fab387;
		--yellow: #f9e2af;
		--green: #a6e3a1;
		--teal: #94e2d5;
		--sky: #89dceb;
		--sapphire: #74c7ec;
		--blue: #89b4fa;
		--lavender: #b4befe;
		--text: #cdd6f4;
		--subtext1: #bac2de;
		--subtext0: #a6adc8;
		--overlay2: #9399b2;
		--overlay1: #7f849c;
		--overlay0: #6c7086;
		--surface2: #585b70;
		--surface1: #45475a;
		--surface0: #313244;
		--base: #1e1e2e;
		--mantle: #181825;
		--crust: #11111b;
	}
}

@media screen and (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	font-size: 16px;
	overflow: hidden;
}

body {
	width: 100svw;
	height: 100svh;
	color: var(--text);
	background: var(--crust);
}

a {
	color: var(--lavender);
	text-decoration: none;
}

div.top-bar {
	padding: 19px 0;
	text-align: center;
	color: var(--maroon);
	height: 10vh;
}

div.top-bar h2 {
	color: var(--text);
}

a:visited {
	color: var(--blue);
}

button {
	appearance: none;
	border: none;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
	color: #fff;
	border-radius: 50px;
}

button:hover,
button:focus {
	background-color: rgba(255, 255, 255, 0.4);
}

button.primary {
	padding: 5px 15px;
}

button:disabled {
	color: rgba(255, 255, 255, 0.5);
	background-color: rgba(0, 0, 0, 0);
}
