main {
	position: relative;
	height: calc(80vh);
}

.tomatoBackground {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;

	/* Transitions for bg colour and size. */
	-webkit-transition: background-color 0.6s, width 0.6s ease-in,
		height 0.6s ease-in;
	transition: background-color 0.6s, width 0.6s ease-in, height 0.6s ease-in;

	/* Moves the center of the tomato into the center of the screen. */
	transform: translate3d(-50%, -50%, 0) rotate(0);

	/* Attach the morph and spin animations. */
	animation: morph 15s linear infinite alternate, spin 20s linear infinite;
	will-change: border-radius, transform;
}

.tomatoBackground.small {
	width: var(--tomato-size);
	height: var(--tomato-size);
}

.tomatoBackground.full {
	width: 250%;
	height: 250%;
}

.tomatoBackground.focus {
	background-color: var(--maroon);
}
.tomatoBackground.break {
	background-color: var(--yellow);
}

@keyframes morph {
	0% {
		border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
	}
	100% {
		border-radius: 40% 60%;
	}
}

@keyframes spin {
	to {
		transform: translate3d(-50%, -50%, 0) rotate(1turn);
	}
}
