.timerView {
	margin: 0 auto;
	max-width: var(--max-width);

	display: flex;
	flex-direction: column;
}

.tomato {
	display: flex;
	flex-direction: column;
}

.timeBar {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.playBar {
	display: flex;
	justify-content: center;
}

.modesBar {
	display: flex;
	justify-content: center;
}
